body {
    background-color: aliceblue;
}
@media (max-width: 799px) {
    body {
    background-color: red;
    }
}
img {
    max-width: 850px;
    margin: 5px;
    object-position: left top;
}

div {
    /* display: flex;
    flex-direction: column; */
    width: 270px;
    padding: 20px;
}

@media (min-width: 810px) {
    .box {
        display: flex;
        justify-content: space-evenly;
        float: left;
        min-width: 810px;
        height: 324px;
        background-color: lightgrey;
        padding: 20px;
        margin: 5px;
    }
    
}


.column {
    
}

input{
    width: 250px;
}

.message {
    height: 70px;
}

.button {
    color: white;
    background-color: black;
    width: 80px;
    height: 30px;
    margin: 5px;

}

@media screen and (max-width: 800px) {
    .column {
        width: 270px;
        padding-left: 20px;
        font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
}